requires = ["tox>=4.27.0,<5.0"]
env_list = ["lint", "fix", "3.13", "3.12", "3.11", "cov", "type", "docs", "pkg_meta"]
skip_missing_interpreters = true

[env_run_base]
description = "run the tests with pytest under {env_name}"
package = "wheel"
wheel_build_env = ".pkg"
dependency_groups = ["test"]
pass_env = ["PYTEST_*", "SSL_CERT_FILE"]
set_env.COVERAGE_FILE = { replace = "env", name = "COVERAGE_FILE", default = "{work_dir}{/}.coverage.{env_name}" }
set_env.COVERAGE_FILECOVERAGE_PROCESS_START = "{tox_root}{/}pyproject.toml"
commands = [
    ["pytest", "--cov=m6502", "--cov-report=term-missing", "tests"],
    ["python", "-c", 'print(r"{env_python}")'],
]

[env.dev]
description = "dev environment with all deps at {envdir}"
package = "editable"
dependency_groups = ["dev"]
commands = [
    ["python", "-m", "pip", "list", "--format=columns"],
    ["python", "-c", 'print(r"{env_python}")'],
]

[env.docs]
description = "generating documentation at {envdir}"
package = "wheel"
dependency_groups = ["docs"]
commands = [
    ["sphinx-build", "-b", "html", "docs", "build/html"],
    ["python", "-c", 'print(r"{env_python}")'],
]

[env.lint]
description = "running lint at {envdir}"
package = "editable"
dependency_groups = ["lint", "test"]
commands = [
    ["python", "-m", "yamllint", ".", "--format", "github"],
    ["python", "-m", "flake8", "--doctests", "src/", "tests/"],
    ["python", "-m", "pymarkdownlnt", "scan", "."],
    ["python", "-m", "rstcheck", "-r", "docs/"],
    ["python", "-c", 'print(r"{env_python}")'],
]
